img.rad {
    border-radius: 10px;
    border: 1px solid #FFFFFF;
}

img.rad:hover {
    border-radius: 10px;
    border: 1px solid #0000FF;
}

img.radtop {
    border-radius: 10px;
    /*border: 1px solid #FFFFFF;*/
}

img.radtop:hover {
    border-radius: 10px;
    /*border: 1px solid #0000FF;*/
}